.searchbox {
    background-color: white;
    align-items: center;
    text-align: center;
    height: 100%;
    width: 100%;
}

.searchboxinput {
    width: 80%;
    height: 50px;
    text-align: center;
    font-size: 40px;
    border: none;
}

.searchboxinput:focus,
textarea:focus {
    outline: none;
}

button {
    width: 80%;
    height: 56px;
    border: none;
    cursor: pointer;
}

button:hover {
    color: white;
    background-color: rgb(36, 35, 35);
}


.gamefield {
    margin-top: 5%;
    margin-bottom: 5%;
    margin-left: 5%;
    margin-right: 5%;
}

.character-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(40px, 1fr));
    grid-column-gap: 1px;
    grid-row-gap: 1px;
}

.character-box {
    background-color: rgb(238, 238, 238);
    color: black;
    cursor: pointer;
    justify-content: center;
    align-items: center;
    display: flex;
    font-size: 30px;
}

.character-box:hover {
    border: none;
    background-color: rgb(36, 35, 35);
    color: white;
}

.choices {
    margin-left: 5%;
    margin-right: 5%;
}

.word-container {
    border: none;
    margin: 10px;
    padding: 10px;
    width: 30%;
    height: 40px;
    box-sizing: border-box;
    display: inline-block;
    vertical-align: top;
    cursor: pointer;
    background-color: rgb(238, 238, 238);
    color: black;
    overflow: hidden;
    animation: fadeIn 1s;
    transition: background-color 0.3s ease, color 0.3s ease, height 0.3s ease, max-height 0.3s ease;
}

.word-container:hover {
    height: 100%;
    background-color: rgb(238, 224, 210);
    color: rgb(0, 0, 0);
    transition: max-height 0.3s ease, height 0.3s ease;
}

.word-container:hover .word-definition:nth-child(1),
.word-container:hover .word-definition:nth-child(2),
.word-container:hover .word-definition:nth-child(3) {
    max-height: 1000px;
}

.word-name {
    text-align: center;
}

.word-definition {
    display: block;
    text-align: left;
    margin: 1px;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.3s ease;
}

.rules {
    margin-top: 10px;
    margin-bottom: 10px;
    text-align: center;
    cursor: pointer;
}

.game-description {
    display: block;
}

.game-description#title {
    font-size: x-large;
}

#title:hover + #game-decriptor {
    max-height: 150px;
    overflow: hidden;
    opacity: 1;
    visibility: visible;
    transition: max-height 0.3s ease, opacity 0.3s ease, visibility 0.3s ease;
}

.game-description#game-decriptor {
    max-height: 0;
    overflow: hidden;
    opacity: 0;
    visibility: hidden;
    margin-top: 10px;
    transition: max-height 0.3s ease, opacity 0.3s ease, visibility 0.3s ease;
}

.game-description:hover {
    max-height: 200px;
    overflow: hidden;
    transition: max-height 0.3s ease;
}